.content button {
  padding: 14px 32px;
  border: none;
  border-radius: 8px;
  background: #0d9be8;
  color: white;
  font-size: 17px;
  cursor: pointer;
  transition: 0.3s;
}

.content button:hover {
  background: #0076c8;
  transform: translateY(-3px);
}

@media (max-width: 480px) {
  .content button {
    width: 100%;
    padding: 14px 0;
    font-size: 16px;
  }
}
